---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import ProjectsGrid from '../../components/ProjectsGrid.astro';
---

<Layout title='Shoko "Seina" Shiraishi' lang="en">
  <Header lang="en" />
  <main>
    <ProjectsGrid />
  </main>
  <Footer lang="en" />
</Layout>
